.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-update{
    width: 100%;
}

.task-form{
    display: flex;
    flex-direction: column;
}

.task-form label{
    margin: 10px 0;
}

.task-form input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.task-form textarea{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.task-form button{
    border: 1px solid green;
    margin: 10px 0;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.task-show{
    border: 1px solid green;
    border-radius: 30px;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.task-show button{
    padding: 5px;
    font-size: 15px;
    width: 70px;
    border: none;
    border-radius: 30px;
    color: white;
    margin-right: 15px;
    background-color: rgb(87, 87, 4);
}

.task-show h3{
    margin-bottom: 5px;
}

.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-create{
    width: 450px;
}
